.search span{
	margin-right:5px;
}
.search{
	border:2px dashed #e5e5e5 ;
	padding:5px;
	border-radius: 5px;
}
.chosen-select{
	width:40% !important;
}
.btn-con{
	text-align: right;
}
.pagination input{
	display: none;
}
.pagination input{
	display: none;
}
form label{
    display:inline-block;
    width:120px;
    margin-right: 10px;
    text-align:right;
    font-weight: bolder;
}
form#realinvestigation-form textarea{
    width:300px !important;
}
.btn-container{
    text-align: center;
}