.calendar-wrapper{
  width: 50%;
  float: left;
  padding-bottom: 50px;
}
.calendar-operation{
	height: 30px;
}
.task-list{
	float: left;
	padding-left: 5em;
	padding-top: 50px;
}
.task-list li{
	margin-bottom: 1em;
}

.add-task{
	clear: both;
	padding-bottom: 50px;
}
table.task-list-table{}
td.op-calendar-new-relative.selected-date{
	background-color: rgb(195, 188, 188);
}
td.op-calendar-new-relative.selected-date a .op-calendar-new-daynumber,
td.op-calendar-new-relative.selected-date a .op-calendar-new-lday{
	color: #ff6000!important;
}

td.op-calendar-new-relative.has-schedule-date{
	background-color: #f3f9ff;
	border: 1px solid #c8dcfb;
}

.task-list-table tr{
	border-bottom: 1px solid transparent;
}
a.task-close{
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border-radius: 6px;
	font-size: 10px;
	text-align: center;
	background-color: #006dcc;
	color: #fff;
	cursor: pointer;
}